.pachet{                                /* pentru MOBIL sa nu apara ce este inafara razei de inspectare a paginii  */
    position: relative;
    display: block;
    height: 100%;
    width: 100%;
    background-size: 500px 650px;
    overflow-x: hidden;
    -ms-overflow-x: hidden;
}

.colorare_text {                       /* folosit pentru texul scris in pagina */
  margin-left: 50px;
  margin-right:50px;
  margin-bottom: 30px;
  margin-top: 40px;
  color:white;
}

.colorare_h1{                                  /* Folosit pentru Titluri */
  position: relative;
  color: #ffbf80;
  border: 5px solid;
  border-color: #ffbf80;
  border-radius: 10px;
  margin: 50px;
  padding: 20px;
  text-shadow: 2px 1px 5px red;
  box-shadow: 10px;
  animation-name: Aparitie;
  animation-duration: 4s;
  animation-delay: 1s;


}


body {                                                   /* Adaugare imagine de fundal pemtru pagina */
  background-image:url('Imagini/lemn_Negru.jpg');

}

.rontunjire_imagini{                                     /* Costumizarea imaginilor adaufate in pagina  */

  border-radius: 20px;
  border-color: #ffbf80;
  box-shadow:  0px 0px 10px red;
}


.pozitionare_Cv{                                          /* Pntru Butinul CV */
  position:relative;
  bottom: 5px;
  left: -95px;
}




@keyframes miscare {                                      /* Animatia pentru poze cand trecem cu cursorul peste ele */
  0%{top:0px}
  50%{top:10px}
  100%{top:0px}

}

.animatie:hover{                                           /* Funcita de accesare a animatiei  */
  position: relative;
  animation-name: miscare;
  animation-duration: 1s;


}
.afisare_flex{                                             /* Afisarea Pozelor */
  display: flex;
  flex-direction:row;
}



@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translateY(-400px);
    }
    50%{
       opacity: 0.3;
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.iconite-retele-socializare {                              /* Costumizarea iconitelor de socializare  */
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 3.5rem;
  width: 3.5rem;
  background-color: #495057;
  color: #fff;
  border-radius: 100%;
  font-size: 1.5rem;
  margin-right: 1rem;


}


.iconite-retele-socializare:hover {                        /* Pentru animare cand trecem peste ele cu corsorl */
  background-color: #bd5d38;
  color: red;
}


.accesare_facebook{                                        /* Fixare Iconite de socializare  */
  position: fixed;
  top: 100px;
  left: 10px;
  text-align: center;
}


html{
  scroll-behavior: smooth;                             /* pentru derulare fina  */
}

.mergiSus{
  background-color: white;
  position: fixed;
  bottom: 15px;
  right: 35px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  color: #1f1f1f;
  text-decoration: none;
  opacity: 0;
  pointer-events: none;
  transition: all 0.4s;


}
.mergiSus.active{
  bottom: :25px;
  pointer-events: auto;
  opacity: 1;
  transform: translateY(-30px);
  text-decoration: none;

}

.mergiSus:hover{
  background-color: white;
  color: red;

}


nav{                                                      /* Setari basic pentru bara de navigatie */
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: #8B0000;
}

.lista-navigare{                                          /* Afisarea barei de navigatie */
  display: flex;
  justify-content: space-around;
  width: 30%;

}

.lista-navigare{
  list-style: none;
}
.lista-navigare a{                                               /* Pentru afisarea specificatorilo de pagina din bara de navigatie STIL DESCKTOP*/
  color: white;
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 14px;

}
.buton-mobil{                                                   /* Pentru butonul de meniu STIL DESCKTOP*/
  display: none;
  cursor: pointer;
}

.buton-mobil div{                                                 /* Butonul de MENIU*/
  width: 25px;
  height: 3px;
  margin: 5px;
  background-color: white;
  transition: all 0.3s ease;

}
@media screen and (max-width:1500px){                             /* in fuctie de marimea ferestrei adaugam ajustari ;a bara de navigatie */
  .lista-navigare{
    display: flex;
    justify-content: space-around;
    width: 50%;
  }

@media screen and (max-width:1000px){                               /* in fuctie de marimea ferestrei adaugam ajustari ;a bara de navigatie */
  .lista-navigare{
    display: flex;
    justify-content: space-around;
    width: 60%;
    color: white;
  }

}


@media screen and (max-width:768px){                                /* in fuctie de marimea ferestrei adaugam ajustari ;a bara de navigatie */
  body{
    overflow-x:hidden;
  }
  .lista-navigare{                                                /* Pentru afisarea specificatorilo de pagina din bara de navigatie STIL MOBIL*/
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 8vh;
    background-color: #8B0000;
    display: flex;
    flex-direction: column;
    align-items: center;
    width:35%;
    transform: translateX(100%);         /* translatam bara de navigatiespre pe axa orizontala dreapta */
    transition: transform 0.5s ease-in;  /* folosim asta pentru tranzitie cand translatam bara de navitaie creand astfel un efect animat */



  }
  .lista-navigare li{
    opacity: 0;
  }
  .buton-mobil{
    display: block;
  }

}



@keyframes  miscareMeniu{
  from{
    opacity: 0;
    transform:translateX(50px);

  }
  to{
    opacity: 1;
    transform:translateX(0px);
  }

}
.lista-navigare-activare{
  transform: translateX(0%);      /* translatam pe axta orizontala bara de navigatie */

}

.transformare-buton-meniu .linie1{
  transform: rotate(-45deg) translate(-5px,6px);

}
.transformare-buton-meniu .linie2{
  opacity: 0;

}
.transformare-buton-meniu .linie3{
    transform: rotate(+45deg) translate(-5px,-6px);
}
